.footer-wrapper {
    width: 100%;
    height: 335px;
}

.topFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #707070;
    width: 100%;
    height: 225px;
}



.tf-box {
    width:25%;
    
}

.tf-box ul {
    list-style: none;
}

.tf-box ul li {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    padding-bottom: 0.75em;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.subf-header {
    padding-bottom: 1em;
    font-weight: bold;
    color: #fff;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 5px #030303;
}

.tf-box ul li a,
.subf-header ul li a {
    color: white;
}




.btmFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #393838;
    width: 100%;
    height: 110px;
}


.cr {
    width:50%;
}

.cr p {
    text-align: center;
    color: #fff;
}


.sm-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sm-wrapper .sm-box {
    width: 10%;
}