/* DESKTOP CSS STYLING CODE  */

.form-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-wrap {
    height: 550px;
    width: 70%;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px #3d3c3c;
}

.form-side-panel {
    height: 550px;
    width: 40%;
    background: #B56C7D;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formContent-wrapper {
    background: #F7F7F7;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/*
    TOP PANEL OF
    THE FORM
*/

.formPanel-header {
    padding-bottom: 1.2em;
}

.formPanel-subHeader {
    
}

.formh1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3em;
    
}

.formh2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    
}



/*
    CONTENT WRAPPER 
    OF THE FORM
*/

.ipt-box {
    height: 45px;
}



.ipt-box input {
    width: 250px;
    border: 1px solid #B56C7D;
    padding: 1em 0;
    font-size: 1em;
    text-align: center;
}

.ipt-box input::placeholder {
    color: #DEDEDE;
}

.ipt-box .sbt {
    width: 120px;
    background: #5f2d39;
    color: #fff;
    display: block;
    border-radius: 5px;
    font-family: Cambria, Cochin, 
    Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
}

.sbt:hover {
    background:#B56C7D;
    color: #fff;
}






/* media query code */

@media (max-width: 750px) {
    .form-container {
        width: 100%;
    }

    .form-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    

    /*
        TOP PANEL OF
        THE FORM
    */

    
    .form-side-panel {
        height: 120px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formPanel-header {
        height: 60px;
        width: 100%;
    }

    .formPanel-subHeader {
        height: 60px;
        width: 100%;
    }
    

    .formh1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #FFFFFF;
        text-align: center;
        font-size: 1.3em;
        line-height: 60px;
    }

    .formh2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #FFFFFF;
        text-align: center;
        font-size: 1em;
        line-height: 60px;
    }



    /*
        CONTENT WRAPPER 
        OF THE FORM
    */

    .formContent-wrapper {
        padding-top: 1.2em;
        background: #F7F7F7;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .ipt-box {
        height: 55px;
        width: 50%;
        padding-bottom: 3em;
    }

    .ipt-box input {
        height: 50px;
        width: 100%;
        border: 1px solid #B56C7D;
        font-size: 1em;
        text-align: center;
    }

    .ipt-box input::placeholder {
        color: #DEDEDE;
    }
    
    .ipt-box .sbt {
        width: 100%;
        background: greenyellow;
        border: none;
        border-radius: 5px;
        font-family: Cambria, Cochin, 
        Georgia, Times, 'Times New Roman', serif;
        font-size: 1.4em;
        border: none;
        padding-bottom: 2em;
    }

    .sbt:hover {
        background:#B56C7D;
        color: #fff;
    }
}