/* note: blur out the header image assets */


/* media screen for 550px screen */
@media screen and (max-width: 550px) {

    .wwd-msg-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 400px;
        background: #E5E2E2;
        border-bottom: 3px solid #161616;
    }
    
    .wwd-title, .wwd-subtopic {
        width: 100%;
        text-align: center;
    }
    
    .wwd-title h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        text-decoration: underline;
    }
    
    .wwd-subtopic p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        word-spacing: 0.2em;
    }

    .wwd-grid {
        display: grid;
        grid-template-columns: (2, 1fr);
        grid-row-gap: 2px;
        grid-column-gap: 5px;
        background: #E5E2E2;
    }

    .box-img {
        width: 230px;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:1px solid #959595;
    }

    .sbox-img {
        width: 75%;
        height: 230px;
        box-sizing: border-box;
    }

    .sbox-img-caption {
        height: 100px;
        width: 85%;
        padding: 2px;
    }

    .sbox-img-caption p {
        font-size: 1em;
        font-family: Cambria, Cochin, 
        Georgia, Times, 'Times New Roman', serifl;
        color: #000;
        text-align: center;
    }

}

.whatwedo-img {
    background: linear-gradient(
        rgba(58, 53, 53, 0.5),
        rgba(0,0,0,0.5)),
    url('../images/adult-books-business-374016.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
}

.wwd-msg-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 7em;
    padding-bottom: 7em;
    background: #E5E2E2;  
    border-bottom: 3px solid #161616;  
}

.wwd-title {
    width: 100%;
    text-align: center;
}

.wwd-subtopic {
    width: 45%;
    text-align: center;
}


.wwd-subtopic {
    margin-top: 2em;
}


.wwd-title h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2em;
    text-decoration: underline;
}

.wwd-subtopic p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    word-spacing: 0.2em;
}


.wwd-grid {
    display: grid;
    grid-template-columns: (100px 100px 100px 100px);
    grid-gap: 10px;
    background: #E5E2E2;
}

.box-img {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid #959595;
    background: #E6E6E6;
}

.sbox-img {
    width: 75%;
    height: 70px;
    box-sizing: border-box;
}

.sbox-img-caption {
    height: 30px;
    width: 85%;
    padding: 2px;
}

.sbox-img-caption p {
    font-size: 1em;
    font-family: Cambria, Cochin, 
    Georgia, Times, 'Times New Roman', serifl;
    color: #000;
    text-align: center;
}